{%extends 'base.html'%}
{%block content%}
<div class="row">
    <div class="col-12 col-md-6">
        <p>{{product.title}}</p>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <p>{{object.description}}</p>
        <p> <strong>Price ::</strong>{{object.price}}</p>
        {%if object.image%}
        <img src="{{object.image.url}}" class="img-fluid" >
        {%endif%}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        {%include 'products/update-cart.html' with product=object cart=cart%} <a href="{%url 'product_list'%}" class="btn btn-primary" style="margin:5px;">Go back</a>

    </div>
</div>



{%endblock%}