<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'home'%}">BuyIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'product_list'%}">Home <span class="sr-only">Products</span></a>
            </li>
            
            <a class="nav-link nav-right" href="{%url 'cart:home'%}" tabindex="-1" aria-disabled="true">{{request.session.cart_count}}<i class="fas fa-shopping-cart"></i></a>
            <li class="nav-item">
                {%if user.is_authenticated%}
            <li class="nav-item">

                <a class="nav-link" href="{%url 'logout'%}" tabindex="-1" aria-disabled="true">logout</a>
            </li>


        </ul>
        </li>
        {%else%}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'register'%}" tabindex="-1" aria-disabled="true">Register</a>
            </li>
            <li>
            <a class="nav-link" href="{%url 'login'%}" tabindex="-1" aria-disabled="true">Login</a>
            </li>
        {%endif%}

            {% include 'snippets/search_form.html'%}
    </div>
</nav>